footer.footer#contact
	.footer__map.map#map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac717afee43cca189965502fe1135e7f49f5f6f5e3dbbd2dd3db2234ec0d458b&amp;width=100%25&amp;height=662&amp;lang=ru_RU&amp;scroll=false")
	.footer__info
		.footer__contact
			a.footer__phone(href=content.general.phone.link)= content.general.phone.textFull
			a.footer__mail(href=content.general.mail.link)= content.general.mail.text
		.footer__address= content.footer.address.start
			span ММДЦ «Москва-Сити»,<br>БЦ «Башня Федерация-Восток»
