extends ../layout/main

block variables
	- var title = 'Мои тренды'

block content
	// Top-banner
	include ../section/top-banner
	// / Top-banner
	// Top-form
	include ../section/top-form
	// / Top-form
	// Advantage
	include ../section/advantage
	// / Advantage
	// Package
	include ../section/package
	// / Package
	// Selection
	include ../section/selection
	// / Selection
	// Services
	include ../section/services
	// / Services
	// Preparation
	include ../section/preparation
	// / Preparation
	// Client
	include ../section/client
	// / Client
	// Reviews
	include ../section/reviews
	// / Reviews
	// Consult
	include ../section/consult
	// / Consult
	// Popup
	include ../modules/popup
	// / Popup