// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции top-banner */
@import 'section/top-banner.styl'
/* Стили секции top-banner */

/* Стили секции top-form */
@import 'section/top-form.styl'
/* Стили секции top-form */

/* Стили секции advantage */
@import 'section/advantage.styl'
/* Стили секции advantage */

/* Стили секции package */
@import 'section/package.styl'
/* Стили секции package */

/* Стили секции selection */
@import 'section/selection.styl'
/* Стили секции selection */

/* Стили секции services */
@import 'section/services.styl'
/* Стили секции services */

/* Стили секции preparation */
@import 'section/preparation.styl'
/* Стили секции preparation */

/* Стили секции client */
@import 'section/client.styl'
/* Стили секции client */

/* Стили секции reviews */
@import 'section/reviews.styl'
/* Стили секции reviews */

/* Стили секции consult */
@import 'section/consult.styl'
/* Стили секции consult */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */


// Компоненты
@import "common/common.styl"