@font-face 
	font-family 'ProximaNova'
	src url('../fonts/ProximaNova-Regular.eot')
	src url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face 
	font-family 'ProximaNova'
	src url('../fonts/ProximaNova-Bold.eot')
	src url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
	font-weight 700
	font-style normal

@font-face 
	font-family 'ProximaNova'
	src url('../fonts/ProximaNova-ExtraBld.eot')
	src url('../fonts/ProximaNova-ExtraBld.woff') format('woff'), url('../fonts/ProximaNova-ExtraBld.ttf') format('truetype')
	font-weight 900
	font-style normal