// ЦВЕТА
black-color = #3d3d3d;
purple-color = #83599c
red-color = #dc385a
blue-color = #1792e7
dark-color = #2a2b2b
yellow-color = #fed300
gray-color = #f5f5f5

// РАЗМЕРЫ

screen-lg = 'max-width: 1100px'
screen-xl = 'max-width: 960px'
screen-md = 'max-width: 768px'


// ШРИФТЫ