.order
	padding 20px 25px 25px 20px
	background gray-color
	text-align left
	max-width 480px

.order__close
	font-size 0
	left 85%
	top 25px
	size(40px)
	z-index 2
	background url("../img/general/close.png") center no-repeat
	background-size cover
	&:before
		display none
	@media ({screen-sm})
		size(25px)
		left 83%

.order__subtitle
	display block
	margin-bottom 10px
	font-size 24px
	line-height 28px
	font-weight 700
	color dark-color
	text-transform uppercase
	padding-bottom 14px
	position relative
	&:after
		content ''
		display block
		position absolute
		bottom 0
		left 0
		size(155px, 8px)
		background red-color
	@media ({screen-sm})
		font-size 20px
		line-height 22px
		padding-bottom 10px
		&:after
			size(100px, 4px)

.order__title
	font-size 48px
	line-height 44px
	font-weight 900
	text-transform uppercase
	margin-bottom 45px
	color blue-color
	@media ({screen-sm})
		font-size 34px
		line-height 36px
		margin-bottom 20px
		max-width 220px

.order__group
	position relative
	width 100%
	&+&
		margin-top 15px

.order__input
	padding-left 30px
	height 68px
	color black-color
	font-size 14px
	width 100%
	border-radius 4px
	border 2px solid #9da7ad
	@extend .trs
	&:focus
		border-color blue-color
		&+.order__label
			opacity 0
	@media ({screen-sm})
		height 50px
		padding-left 15px
		font-size 16px

.order__label
	color #6a6a6a
	font-size 14px
	position absolute
	left 30px
	top 25px
	@extend .trs
	@media ({screen-sm})
		left 15px
		font-size 16px
		top 18px

.order__btn
	background blue-color
	color white
	width 100%
	max-width 100% 
	text-align center
	font-size 24px
	line-height 24px
	font-weight 700
	padding 24px 0px
	text-transform uppercase
	cursor pointer
	border-radius 5px
	margin-top 30px
	@extend .trs
	&:hover,&:focus
		background darken(blue-color, 20%)
	@media ({screen-sm})
		margin-top 20px
		font-size 20px
		line-height 20px
		padding 18px 0