.advantage
	margin-bottom 50px

.advantage__wrap
	display flex
	justify-content space-around

.advantage__item
	max-width 222px

.advantage__icon
	height 128px
	margin-bottom 60px
	flex-center()

.advantage__text
	font-size 18px
	line-height 20px
	font-weight 900
	text-transform uppercase
	span.red
		display block
	span.nowrap
		display inline-block