.client
	padding-top 68px
	margin-bottom 65px

.client__title
	text-align center
	font-size 48px
	line-height 44px
	font-weight 900
	margin-bottom 75px
	span
		display block

.client__list
	display flex
	flex-wrap wrap
	align-items center

.client__item
	margin-right 20px
	margin-bottom 25px
	max-width 140px
	img
		width 100%