.client
	padding-top 68px
	margin-bottom 65px
	@media ({screen-md})
		padding-top 0

.client__title
	text-align center
	font-size 48px
	line-height 44px
	font-weight 900
	margin-bottom 75px
	span
		display block

.client__list
	display flex
	flex-wrap wrap
	align-items center
	@media ({screen-lg})
		justify-content space-around

.client__item
	margin-right 20px
	margin-bottom 25px
	max-width 140px
	img
		width 100%
	@media ({screen-md})
		max-width 125px
		margin-bottom 15px
		margin-right 10px