.selection
	padding 75px 0 60px
	background gray-color
	color dark-color
	margin-bottom 65px
	@media ({screen-md})
		padding 50px 0
		margin-bottom 30px
	@media ({screen-sm})
		padding 30px 0
		margin-bottom 20px

.selection__wrap
	display flex
	justify-content center
	@media ({screen-md})
		display block
		max-width 430px
		margin 0 auto

.selection__info
	text-align right
	max-width 325px
	margin-right 25px
	@media ({screen-md})
		max-width 100%
		margin-right 0
		text-align left
		margin-bottom 50px
	@media ({screen-sm})
		margin-bottom 20px

.selection__pretitle
	display inline-block
	padding-bottom 16px
	border-bottom 6px solid red-color
	margin-bottom 15px
	font-size 24px
	line-height 24px
	font-weight 700
	text-transform uppercase
	@media ({screen-sm})
		font-size 18px
		line-height 18px
		padding-bottom 10px
		border-bottom-width 3px
		margin-bottom 10px

.selection__title
	font-size 48px
	line-height 44px
	font-weight 900
	color blue-color
	margin-bottom 40px
	@media ({screen-md})
		margin-bottom 25px
		max-width 170px
		font-size 44px
	@media ({screen-sm})
		font-size 34px
		line-height 34px
		margin-bottom 20px

.selection__subtitle
	font-size 20px
	line-height 32px
	font-weight 700
	margin-bottom 25px
	@media ({screen-md})
		font-size 30px
		line-height 34px
		margin-bottom 35px
		max-width 360px
	@media ({screen-sm})
		font-size 20px
		line-height 22px
		margin-bottom 10px

.selection__text
	max-width 310px
	margin-left auto
	font-size 16px
	line-height 18px
	@media ({screen-md})
		max-width 340px
		margin-left 0
		font-size 24px
		line-height 26px
	@media ({screen-sm})
		font-size 18px
		line-height 20px
		max-width 100%

.selection__descr
	margin-left 25px
	@media ({screen-md})
		margin-left 0

.selection__call,
.selection__fill
	display block
	font-size 16px
	line-height 18px
	margin-bottom 15px
	@media ({screen-md})
		display none

.selection__phone
	display block
	margin-bottom 25px
	font-weight 900
	font-size 41px
	color #3d3d3d
	span
		font-size 55px
		display inline-block
		margin-left 10px
	@media ({screen-md})
		display none

.selection__form
	max-width 430px

.selection__group
	position relative
	width 100%
	&+&
		margin-top 10px
	@media ({screen-md})
		&+&
			margin-top 55px
	@media ({screen-sm})
		&+&
			margin-top 20px

.selection__input
	height 70px
	padding-left 30px
	width 100%
	border 1px solid #9da7ad
	border-radius 5px
	font-size 14px
	@extend .trs
	&:focus
		border-color blue-color
		&+.selection__label
			opacity 0
	@media ({screen-md})
		height 90px
		font-size 30px
	@media ({screen-sm})
		height 50px
		font-size 18px
		padding-left 20px

.selection__label
	position absolute
	left 30px
	top 28px
	color #6a6a6a
	font-size 14px
	@extend .trs
	@media ({screen-md})
		font-size 30px
		top 32px
	@media ({screen-sm})
		font-size 18px
		top 18px
		left 20px

.selection__btn
	background blue-color
	color white
	max-width 100% 
	text-align center
	font-size 18px
	line-height 24px
	font-weight 700
	padding 11px 95px
	text-transform uppercase
	cursor pointer
	border-radius 5px
	margin-top 10px
	@extend .trs
	&:hover,&:focus
		background darken(blue-color, 20%)
	@media ({screen-md})
		font-size 34px
		line-height 46px
		margin-top 55px
		padding 30px 0
	@media ({screen-sm})
		font-size 20px
		line-height 22px
		margin-top 25px
		padding 15px 0