.services
	margin-bottom 65px
	@media ({screen-md})
		margin-bottom 45px
	@media ({screen-sm})
		margin-bottom 30px

.services__wrap
	display flex
	flex-wrap wrap
	justify-content space-between
	@media ({screen-lg})
		justify-content space-around

.services__item
	max-width 270px
	margin-bottom 30px
	text-align center
	font-size 14px
	line-height 18px
	@media ({screen-md})
		max-width 190px
	@media ({screen-sm})
		flex-grow 0
		flex-shrink 1
		flex-basis 45%
		max-width 45%

.services__image
	position relative
	overflow hidden
	margin-bottom 25px
	img
		@extend .trs
	&:hover
		img
			transform scale(1.1)
		.services__order
			opacity 1
			visibility visible
	@media ({screen-sm})
		margin-bottom 15px

.services__order
	display flex
	justify-content center
	align-items center
	text-transform uppercase
	font-weight 700
	color: #fff
	background rgba(red-color, 0.88)
	absolute-all(0)
	size(100%)
	opacity 0
	visibility hidden
	@extend .trs

.services__name
	text-transform uppercase
	font-weight 900
	@media ({screen-md})
		font-size 16px
	@media ({screen-sm})
		font-size 16px

.srevices__cost
	display block
	color red-color
	font-weight 900
	@media ({screen-md})
		font-size 18px
		margin-top 5px
	@media ({screen-sm})
		font-size 16px

.services__descr
	max-width 570px
	color dark-color
	position relative
	width 100%
	@media ({screen-lg})
		display none

.services__el
	position absolute
	top 0
	left 0
	opacity 0
	visibility hidden
	@extend .trs
	&--active
		opacity 1
		visibility visible

.services__subname
	display block
	font-size 20px
	line-height 24px
	font-weight 700
	max-width 291px
	margin-bottom 15px
	text-transform uppercase

.services__text
	font-size 16px
	line-height 20px