.top-banner
	padding-top 130px
	margin-bottom 40px

.top-banner__wrap
	max-width 1090px
	margin 0 auto

.top-banner__heading
	display flex
	padding-left 43px
	margin-bottom 105px

.top-banner__logo
	margin-right 122px
	flex none

.top-banner__title
	font-size 64px
	line-height 60px
	font-weight 900
	span
		display block

.top-banner__list
	display flex
	justify-content space-between

.top-banner__item
	max-width 344px
	&:nth-child(1)
		max-width 315px
	&:nth-child(2)
		max-width 290px
		.top-banner__name
			margin-bottom 22px

.top-banner__name
	font-size 24px
	line-height 24px
	font-weight 900
	text-transform uppercase
	margin-bottom 15px

.top-banner__text
	line-height 18px
	margin-bottom 10px

.top-banner__cost
	font-weight 900
	letter-spacing 0.25px
	display flex
	align-items center
	margin-bottom 16px
	span
		font-size 24px
		margin 0 5px
	&:after
		content "*"
		display block
		font-size 24px
		align-self flex-start
		margin-left 2px

.top-banner__btn
	max-width 190px